[submodule "extern/succinct_bv"]
	path = extern/succinct_bv
	url = https://github.com/ChristopherPack/succinct-bit-vector.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
